@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-navbar {
  @apply h-0 transition-all duration-300 overflow-auto;
}

.mobile-navbar.opened {
  @apply h-screen;
}

.mobile-navlist .menu-link {
  @apply transition-all duration-300 opacity-0 block;
  transform: skewX(10deg) rotateX(70deg);
}

.mobile-navbar.opened .mobile-navlist .menu-link {
  @apply opacity-100;
  transform: skewX(0deg) rotateX(0deg);
}

.nav-back {
  @apply opacity-0 invisible transition-all pointer-events-none;
}

.nav-back.opened {
  @apply opacity-100 visible pointer-events-auto;
}

.submenu {
  @apply opacity-0 pointer-events-none invisible transition-all duration-200 fixed left-0 top-0 bg-[#161617] z-10 py-14 px-6 w-full h-full;
}

.submenu li a {
  @apply transition-all duration-300 delay-150 opacity-0 block;
  transform: skewX(10deg) rotateX(70deg);
}

.submenu.opened {
  @apply opacity-100 visible pointer-events-auto;
}

.submenu.opened li a {
  @apply opacity-100;
  transform: skewX(0deg) rotateX(0deg);
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}
