---
import mol from "@images/mol.png";
import bind from "@images/bind.png";
import diagram from "@images/diagrams.jpg";
---

<section class="py-16 px-7">
  <div class="max-w-7xl w-full mx-auto">
    <h2 class="text-xl md:text-3xl font-bold text-center text-primary mb-5">Bringing better healing, hormone balance, <br class="hidden sm:inline-block" />and faster recovery to your life</h2>

    <div class="mt-12">
      <div class="aspect-[16/7]">
        <img src="https://images.squarespace-cdn.com/content/v1/59f146c4d0e628d1a192ceaa/1612047928811-TJNGYRO9H0XA8PY9UB4H/abstract-molecules-design-vector-illustration-peptide-vs-protein-ss.jpg?format=2500w" alt="" class="w-full h-full rounded-xl object-cover" />
      </div>
      <div class="flex items-start gap-10 mt-12 flex-col md:flex-row">
        <div class="w-24 md:sticky top-5 flex-shrink-0">
          <img src={mol} alt="mol" class="w-full h-auto object-contain" />
        </div>

        <div>
          <h3 class="text-lg font-medium text-black mb-2">What are Therapeutic Peptides?</h3>
          <p class="text-base mb-5">Peptides are small proteins or snippets of proteins. Each of them work uniquely to signal for specific cellular or physiological processes, rather than to get broken down into amino acids.</p>
          <p class="text-base">To date, scientists have discovered over 7,000 peptides in nature, many of them naturally occurring in humans. In your body, these peptides orchestrate numerous processes, such as:</p>

          <ul class="pl-5 my-6 list-disc space-y-2">
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Hormone production and signaling
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Communications between cells
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Wound and tissue healing and regeneration Immune functions
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Metabolic functions
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Brain and neurological functions
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Physical and cognitive performance
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Reproduction and sexual health
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Anti-aging processes, such as autophagy and Sirtuin pathways Mitochondrial function
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Anabolic processes such as muscle building
            </li>
            <li class="flex items-center gap-3">
              <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
                <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
              </svg>
              Sleep and circadian rhythm
            </li>
          </ul>
          <p>Therapeutic peptides are made in the lab to function like natural peptides do in your body. They may be identical to the natural version or chemically improved to make them safer or more effective.</p>
          <br />
          <p>Because your body naturally recognizes and works with peptides, they are safe and deliver powerful clinical results when taken at the right dosages, combination, and timing. Depending on your health goals and type of peptides, they may work best orally, intravenously, or through subcutaneous injections. Most therapeutic peptides are administered through subcutaneous injections.</p>
        </div>
      </div>
    </div>

    <div class="mt-14 mb-8 aspect-[16/7]">
      <img src={diagram} alt="Diagram" class="w-full h-full rounded-xl object-cover object-bottom" />

      <div class="flex items-start gap-10 mt-12 flex-col md:flex-row">
        <div class="w-24 md:sticky top-5 flex-shrink-0">
          <img src={bind} alt="mol" class="w-full h-auto object-contain" />
        </div>

        <div>
          <h3 class="text-lg font-medium text-black mb-2">Why Choose Biofuse Wellness Peptide Therapy?</h3>
          <p class="my-3"><strong>Doctor-formulated</strong></p>
          <p class="text-base mb-5">Our Peptide formulations have been created by one of the world's leading physicians in peptide therapy: Dr. Craig Koniver of Koniver Wellness. It can take a great deal of clinical expertise to design the right personalized peptide protocols for the right health goals. Our therapeutic peptide protocols are developed and based on a deep understanding of human physiology and 20+ years of clinical experience in performance medicine.</p>
          <p class="my-3"><strong>The right dosage cycling and tapering</strong></p>

          <p class="text-base">Without cycling or tapering, your body can get accustomed to the effects of the peptides, so the benefits diminish overtime. We build in variability in peptide uses and dosages to maximize the health benefits you get for the money you pay.</p>

          <p class="my-3"><strong>Purity</strong></p>
          <p>Since you're injecting these peptides into your body, you want to ensure that they're free of dangerous contaminants. The more popular a health product category becomes, the more vendors emerge that don't follow the highest standards, and products may contain unhealthy ingredients or contaminants. Peptides are no exception, especially if you're purchasing them as research chemicals that can legally contain harmful substances.</p>

          <p class="my-3"><strong>Potency</strong></p>

          <p>For peptides to work, your products have to have the same potency as indicated on the label. Peptides are more fragile molecules that break down more easily with the wrong handling protocols and heat exposure. So, without careful quality control, you can easily lose potency. In addition to third-party testing, we ship our peptide products overnight on ice to ensure that it reaches you at full potency.</p>
          <br />
          <p>Koniver Wellness serves hundreds of elite international clients who trust us for the quality and safety of our products. Our peptides come from a cGMP-certified pharmaceutical producer who follows the highest manufacturing standards.</p>

          <p class="my-3"><strong>Cofactors</strong></p>
          <p>We're experts in synergistic stacks, both from research and having worked with thousands of patients. Many peptides work better or produce longer-lasting results once you provide additional nutrients as building blocks or cofactors. In many of our therapeutic peptide protocols, we add these additional cofactors to boost the peptides 'effectiveness. We also often recommend nutrient IV therapy to maximize the effectiveness of your protocol.</p>

          <p class="my-3"><strong>Convenience</strong></p>

          <p>Since most peptide products are available as research chemicals, you'd typically have to calculate the right amounts of water to add and volume to inject in order to get the right dosages. Then. you'll also have to load the needles with minimal air bubbles.</p>

          <p>All of these become even more complicated and cumbersome if you're using multiple peptides, or if you need multiple injections throughout the day.</p>

          <p>Our peptides come in 30-day supplies premixed and loaded in insulin needles ready for injections; so you can skip all the cumbersome steps and be confident you're getting the right doses.</p>
        </div>
      </div>
    </div>
  </div>
</section>
