---
---

<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-24 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-16">
    <div>
      <img class="rounded-xl" src="https://images.squarespace-cdn.com/content/v1/59f146c4d0e628d1a192ceaa/1600740134149-8C6GITK1NSXZQWCXSLLH/iv+therapy+grand+rapids?format=1500w" alt="Image Description" />
    </div>
    <!-- End Col -->

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <!-- Title -->
      <div class="space-y-2 md:space-y-4">
        <h2 class="font-bold text-3xl lg:text-4xl text-primary dark:text-gray-200">Questions?</h2>
        <p class="text-gray-500">Looking for a custom IV drip that’s made for just for you? We’ve got you covered. Many of our clients find their needs changing over time and are looking for specific solutions to their evolving lifestyle. Our registered nurses are well versed and trained in understanding your needs to help you create an IV drip that fits you. Please feel free to call us at our location based phone numbers or direct message us on social media listed below the webpage.</p>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
