---
import recoveryImg from "@images/recovery-image-3.png";
import hangover from "@images/hangovers.png";
import rehydration from "@images/rehydration.png";
import headaches from "@images/headaches.png";
---

<section class="px-7 py-10 md:py-20">
  <div class="max-w-7xl w-full mx-auto">
    <div class="grid items-center grid-cols-1 md:grid-cols-[45%_55%] gap-8">
      <div>
        <img src={recoveryImg} alt="image" class="w-full h-auto object-contain" />
      </div>
      <div>
        <h2 class="text-4xl md:text-5xl text-primary font-bold mb-8">Recovery</h2>
        <p>Replenish your body with a combination of IV fluids, electrolytes, vitamins, and medications to rehydrate and detoxify your body and help you overcome your hangover symptoms or recover from gastrointestinal illness quickly.</p>

        <a href="#" type="button" class="py-4 mt-6 px-12 w-fit flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-primary text-white hover:bg-sky-600 transition-all">Schedule Appointment</a>
      </div>
    </div>

    <div class="pt-8 mb-14">
      <h2 class="text-2xl font-semibold mb-10">Ingredients:</h2>

      <div class="sqs-html-content">
        <ul class="list-disc pl-5 mb-6 space-y-2">
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            &nbsp;B-Complex: A powerful combination of essential B vitamins (B1- thiamine, B2- riboflavin, B3- niacinamide, B5- pantothenic acid, B6- pyridoxine) these vitamins boost energy and enhance the immune and nervous system, as well as decrease stress and anxiety.
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            B-12: Also known as cobalamin, is an important water-soluble vitamin. It plays an essential role in the production of your red blood cells and DNA, as well as the proper functioning of your nervous system. Vitamin B12 is naturally found in animal foods, including meats, fish, poultry, eggs and dairy.
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Toradol: Strong, non-sedating anti-inflammatory medication for aches and pains.
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Pepcid: Anti-histamine to settle and smooth your stomach.
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Zofran: Fast acting, powerful anti-nausea medication.
          </li>
        </ul>
        <h3 class="mb-4">
          <strong>Benefits You Can Expect:&nbsp;</strong>
        </h3>
        <ul class="list-disc pl-5 mb-6 space-y-2">
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Quick Recovery From Hangovers
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            GI Illness
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Eliminate Nausea &amp; Headaches
          </li>
        </ul>
        <h3 class="mb-4">
          <strong>Works Well With:</strong>
        </h3>
        <ul class="list-disc pl-5 mb-6 space-y-2">
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Glutathione add on
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            Extra liter add on
          </li>
          <li class="flex items-start gap-3">
            <svg class="flex-shrink-0 h-5 w-5 text-primary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z" fill="currentColor"></path>
              <path d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z" fill="currentColor" class="fill-white"></path>
            </svg>
            B12 Shot
          </li>
        </ul>

        <button class="text-lg font-bold px-8 py-2 text-white bg-primary rounded-lg">$129</button>
      </div>
    </div>

    <!-- Best Uses Of Drips -->
    <h2 class="text-3xl font-semibold text-primary mb-9 text-center">Best Uses for Recovery IV Drip</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="p-8 border border-primary rounded">
        <p class="text-center text-lg text-primary mb-8">Hangovers</p>
        <div class="overflow-hidden">
          <img src={hangover} alt="image" class="scale-150" />
        </div>
      </div>
      <div class="p-8 border border-primary rounded">
        <p class="text-center text-lg text-primary mb-8">Rehydration</p>
        <div class="overflow-hidden">
          <img src={rehydration} alt="image" class="scale-150" />
        </div>
      </div>
      <div class="p-8 border border-primary rounded">
        <p class="text-center text-lg text-primary mb-8">Headaches & Migraines</p>
        <div class="overflow-hidden">
          <img src={headaches} alt="image" class="scale-150" />
        </div>
      </div>
    </div>
  </div>
</section>
